.header {
  margin: 10px 0;
  position: relative;
}
.logo {
  background: url(/static/images/logo.png) no-repeat 0 0;
  width: 195px;
  height: 60px;
}
.user-profile {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #666666;
}
.user-profile a {
  color: #e43d26;
  padding: 0 2px;
  text-decoration: underline;
}
.navigation {
  background: #27bd8d;
  background: #42aa1a;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.navigation a {
  color: #ffffff;
  font-size: 16px;
  line-height: 36px;
  padding: 0 15px;
}
.my-cart-list {
  position: absolute;
  right: 0;
  top: 0;
  background: #e43d26;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  padding: 0 15px;
  font-size: 14px;
  cursor: pointer;
}
